@model PsuHistoryWeb.Domain.Entities.Monuments.Burial
@{
    ViewData["Title"] = $"Захоронение {Model.TypeBurial.Name} № {Model.NumberBurial}";
}

<div class="py-5">
    <hr style="height:8px" color="Orange">
    <div class="container mainb">
        <h1 class="textb"><b>@Model.TypeBurial.Name № @Model.NumberBurial</b></h1>
        <div class="row py-4">
            <div class="col-12 col-md-6 text-right">
                <p style="font-size: 20px">@Model.Longitude, @Model.Latitude</p>
                <h5><b>Месторасположение</b></h5>
                <p style="font-size: 20px">@Model.Location</p><br />
                <h5><b>Время возведения</b></h5>
                <p style="font-size: 20px">@Model.Year</p><br />
                <h5><b>Краткая историческая справка</b></h5>
                <p style="font-size: 20px">@Model.Description</p><br />
            </div>
            <div class="col-12 col-md-6 order-first">
                <div id="map" style=" width: 100%; height: 500px;">
                </div>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner bg-secondary">
                @{var index = 0; var activity = "active";}
                @foreach (var attach in ViewBag.Attachment)
                {
                    <div class="carousel-item @if (index++ == 0) @activity">
                        <img class="mx-auto d-block w-50" src="@attach.Path" alt="Первый слайд">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <hr class="mt-4" style="height:8px" color="Orange">
</div>

<script>
    window.onload = function () {
        var map = L.map("map", {
            center: [@Model.Longitude, @Model.Latitude],
            zoom: 6,
            gestureHandling: true
        });

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let iconOptions = {
            iconUrl: '/files/project/admin/m.svg',
            iconSize: [40, 40],
            iconAnchor: [20, 40],
            popupAnchor: [0, -25]
        };

        let markerOptions = { title: "", clickable: true, draggable: true, icon: L.icon(iconOptions) };

        L.marker([@Model.Longitude, @Model.Latitude], markerOptions).
            bindPopup('<div>@Model.TypeBurial.Name №@Model.NumberBurial</div>')
            .openPopup().addTo(map);
    };
</script>

<style>
    .mainb {
        position: relative;
    }

    .textb {
        position: absolute;
        right: 10px;
        top: -45px;
        padding-left: 15px;
        padding-right: 15px;
        background: #fff;
    }
</style>