@model PsuHistoryWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Страница Входа";

}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-5">
            @using (Html.BeginForm("Login", "Account"))
            {
                @Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
                <div class="card form-log-reg">
                    <div class="card-header text-center">
                        <h2>Вход на сайт</h2>
                    </div>
                    <div class="container p-3">
                        <div class="form-group">
                            <label asp-for="UserName">Введите Login</label>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, String.Empty, new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Введите пароль</label>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, String.Empty, new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Войти" class="btn btn-success" />
                            <button asp-action="Register" asp-controller="Account" value="Регистрация" class="btn btn-primary float-right">Регистрация</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>